*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #455881;
}

header{
	width: 100%;
}

.navegacion{
	width: 1900px;
	margin: 0px auto;
	background: #699e84;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 20px 30px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}
/*botones animales*/
.fcc-btn {
	background-color: #699e84;
	color: #353535;
	padding: 15px 25px;
	text-decoration: none;
  }

