*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-image: url("https://img.freepik.com/vector-premium/diseno-fondo-fondo-suave-ola-azul-blanco_41084-350.jpg?w=2000");
	background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
	
}

.nav{
	position: none; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.nav ul {
		list-style: none;
	}

	.nav ul li a {
		display: inline-block;
		color:rgb(196, 159, 142);
		background: rgba(250, 250, 250, 0);
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.nav ul li .icon-inicio {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.nav ul li .icon-gato {background: #00abf0;}
	.nav ul li .icon-perro {background: #d95232;}
	.nav ul li .icon-nosotros {background: #ae181f;}
	.nav ul li .icon-contacto {background: #666666;}

	.nav ul li a:hover {
		background: rgb(0, 0, 0); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}
/*botones animales*/
.fcc-btn {
	background-color: #80b8d8;
	color: #353535;
	padding: 25px 35px;
	text-decoration: none;
	padding:10px;border-radius:10px;
  }
